main{
    text-align: center;
    img{
        width: 70%;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
    }
    h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
}